$selected-color: #fda;
$border-color: #ddd;
$node-border-width: 1px;
$node-border-width-selected: 2px;

$node-background-color: #fafafa;
$node-background-hover-color: #fcfcfc;
$node-border-color: #ccc;

$node-header-color: #f7f7f7;
$node-header-hover-color: #f9f9f9;

$path-color: #ccc;

$input-color: #e22;
$input-border-color: #f55;

$output-color: #2e2;
$output-border-color: #5f5;

$endpoint-border-radius: 1px;

$border-radius-expanded: 6px;
$border-radius-collapsed: 15px;

$icon-color: #999;

$collapse-animation-duration: 0.4s;
$node-transitions: border-radius $collapse-animation-duration;
