$selected-color: #fda;
$border-color:#ddd;

$node-background-color: #fafafa;
$node-background-hover-color: #fcfcfc;
$node-border-color: #ccc;

$node-header-color: #f7f7f7;
$node-header-hover-color: #f9f9f9;

$path-color: #ccc;

$input-color: #e22;
$input-border-color: #f55;

$output-color: #2e2;
$output-border-color: #5f5;

$endpoint-border-radius: 1px;